@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: #1111117A;
  transition: 0.4s;
  padding: 3px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}
